.contact_section {
    padding: 20px;
    background-color: var(--background-color);
    text-align: center;
    color: var(--text-color-main);
}

.title {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact_info {
    margin-bottom: 20px;
}

.contact_info p {
    margin: 5px 0;
}

.contact_info a {
    color: var(--highlight-color);
    text-decoration: none;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_form label {
    text-align: left;
    font-weight: bold;
}

.contact_form input,
.contact_form textarea {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
}

.contact_form button {
    background-color: transparent;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    color: var(--highlight-color);
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
}

.contact_form button:hover {
    background-color: var(--highlight-color);
    color: var(--text-color-secondary);
}

@media (min-width: 768px) {
    .contact_form {
        max-width: 600px;
        margin: 0 auto;
    }
}