.services {
	background-color: var(--background-color);
	padding: var(--vertical-padding) var(--horizontal-padding);
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.content {
	color: var(--text-color-secondary);
}

.content h1 {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.services_list {
	margin-top: 64px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	font-size: 1.1rem;
	text-align: center;
	list-style: none;
}

.services_list h3 {
	font-size: 1.3rem;
}

.services_list p {
	margin-top: 8px;
}

@media (min-width: 960px) {
	.services_list {
		flex-direction: row;
		justify-content: space-between;
		gap: 64px;
	}

	.services_list li {
		width: 33.33%;
	}
}
