.services_section {
    padding: 64px var(--horizontal-padding);
}

.services_list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
}

.services_list p {
    margin-top: 8px;
    text-align: justify;
}

@media (min-width: 1024px) {
    .services_list {
        flex-direction: row;
        gap: 64px;
    }
}