.about {
	padding: var(--vertical-padding) var(--horizontal-padding);
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	pointer-events: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.content {
	margin-top: 32px;
	text-align: center;
}

.content h1 {
	font-size: 2rem;
	text-transform: uppercase;
}

.content p {
	margin-top: 16px;
	max-width: 600px;
	font-size: 1.1rem;
}

@media (min-width: 960px) {
	.container {
		display: flex;
		justify-content: center;
		gap: 64px;
	}

	.profile {
		align-items: flex-start;
	}

	.profile img {
		width: 320px;
		height: 320px;
	}

	.content {
		margin-top: 0;
		text-align: start;
	}

	.content h1 {
		padding-left: 8px;
		border-left: 6px solid var(--text-color-main);
	}
}
