.contact {
	padding: var(--vertical-padding) var(--horizontal-padding);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.title {
	color: var(--text-color-main);
	font-size: 2rem;
	text-transform: uppercase;
}

.subtitle {
	margin-top: 8px;
	color: var(--text-color-main);
	font-size: 1.1rem;
}

.social_media {
	margin-top: 16px;
}

.social_media a {
	color: var(--text-color-main);
}

.social_media a:hover {
	transform: translateY(-5px);
}

.social_media a svg {
	font-size: 2rem;
}
