@import url('fonts.css');

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Core Variables */
:root {
  --primary-color: #F7E9DA; 
  --complementary-color: #4A3D35; 
  --highlight-color: #B6895A;   
  --text-color-main: #4A3D35; 
  --text-color-secondary: #F7E9DA;  
  --background-color: #D9C7B4; 
  --border-color: #4A3D35; 
  --hover-color: #C8A784; 

  --horizontal-padding: 16px;
}
/* :root {
  --primary-color: #F4E3E1;
  --complementary-color: #2D2B30;
  --highlight-color: #870D37;
  --text-color-main: #2D2B30;
  --text-color-secondary: #F4E3E1;
  --background-color: #E3CAC6;
  --border-color: #49006F;
  --hover-color: #C09296;

  --horizontal-padding: 16px;
} */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Global Styles */
html,
body {
  color: var(--text-color-main);
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

body,
p,
span,
li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

strong {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

@media (min-width: 1024px) {
  :root {
    --horizontal-padding: 256px;
  }
}