.intro_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 80vh;
    background-color: var(--background-color);
    text-align: center;
}

.content {
    max-width: 600px;
    color: var(--text-color-main);
}

.title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta_button {
    background-color: transparent;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    color: var(--highlight-color);
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
}

.cta_button:hover {
    background-color: var(--highlight-color);
    color: var(--text-color-secondary);
}

@media (min-width: 768px) {
    .intro_section {
        padding: 0;
        text-align: justify;
    }

    .title {
        font-size: 3rem;
    }

    .description {
        font-size: 1.5rem;
    }

    .cta_button {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .intro_section {
        min-height: 60vh;
    }

    .cta_button {
        width: auto;
    }
}